
.box1{
border: darkkhaki;
margin: 60px;
padding: 40px;
width: 800px;
height: 400px;
}

.box11{
background-color: coral;
margin: 30px;
padding: 30px;
width: 30px;
height: 30px;
display: flex;
justify-content: flex-start;
}

.box22{
margin: 30px;
padding: 30px;
width: 30px;
height: 30px;
background-color: cornflowerblue;
display: flex;
align-items: center;
}

.box33{
margin: 30px;
padding: 30px;
width: 30px;
height: 30px;
background-color: darkseagreen;
justify-content: flex-end;
}